<!DOCTYPE html>
<html lang="en" ng-app="loginApp">

<head>
    <meta charset="UTF-8">
    <title>Program -08</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <style>
        .error-message {
            color: red;
        }
        .success-message {
            color: green;
        }
    </style>
</head>

<body>

    <div ng-controller="LoginController">
        <h2>Login</h2>
        <form name="loginForm" ng-submit="login()">
            <div>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" ng-model="user.username" required>
            <span class="error-message" ng-show="loginForm.username.$error.required">Username is required.</span>
            </div>
            <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" ng-model="user.password" required>
            <span class="error-message" ng-show="loginForm.password.$error.required">Password is required.</span>
            </div>
            <button type="submit">Login</button>
        </form>
        <p class="success-message" ng-show="loggedIn">Successfully logged in!</p>


        </div>

    <script>
        angular.module('loginApp', [])
            .controller('LoginController', function ($scope) {
                $scope.user = {};
                $scope.loggedIn = false;
                $scope.login = function () {
                    if ($scope.loginForm.$valid) {
                        $scope.loggedIn = true;
                        // Perform login logic here
                        console.log('Username:', $scope.user.username);
                        console.log('Password:', $scope.user.password);
                    } else {
                        // Form validation failed
                        console.log('Form validation failed.');
                    }
                };
            });
    </script>

</body>

</html>