<!DOCTYPE html>
<html lang="en" ng-app="itemApp">

<head>
    <meta charset="UTF-8">
    <title>Program - 10</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
</head>

<body>
    <div ng-controller="ItemController">
        <h2>Item Collection</h2>
        <label for="newItem">New Item:</label>
        <input type="text" ng-model="newItem" id="newItem" placeholder="Enter item name">
        <button ng-click="addItem()">Add Item</button>
        <br>
        <ul>
            <li ng-repeat="item in itemList">
                {{ item }}
                <button ng-click="removeItem($index)">Remove</button>
            </li>
        </ul>
        <p>Total Number of Items: {{ itemList.length }}</p>
    </div>
    <script>
        var app = angular.module('itemApp', []);
        app.controller('ItemController', function ($scope) {
            // Default items
            $scope.itemList = ['Item 1', 'Item 2', 'Item 3'];
            // Function to add a new item
            $scope.addItem = function () {
                if ($scope.newItem) {
                    $scope.itemList.push($scope.newItem);
                    $scope.newItem = ''; // Clear input field after adding item
                } else {
                    alert('Please enter an item.');
                }
            };
            // Function to remove an item
            $scope.removeItem = function (index) {
                var confirmRemove = confirm('Are you sure you want to remove this item?');
                if (confirmRemove) {
                    $scope.itemList.splice(index, 1);
                }
            };
        });
    </script>
</body>

</html>